## Test your knowledge. 

** Answer the following questions **

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [2]:
x = 1.25 + (5**2*8/2) - 1
print(x)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [1]:
x = 4 * (6 + 5)
y = 4 * 6 + 5
z = 4 + 6 * 5
print(x,y,z)

44 29 34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [3]:
float

float

What would you use to find a numberâ€™s square root, as well as its square?

In [4]:
# Square root:
16**(0.5)

4.0

In [5]:
# Square:
4**2

16

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [6]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [7]:
s ='hello'
# Reverse the string using slicing

s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [8]:
s ='hello'
# Print out the 'o'

# Method 1:
print(s[-1])

o

In [10]:
# Method 2:

print(s[4])

o

## Lists

Build this list [0,0,0] two separate ways.

In [1]:
# Method 1:
mylist = [0,0,0]
l = [0,0,0]
print (l)
l = [0]*3
print(l)
l1 = list()
l1.append(0)
l1.append(0)
l1.append(0)
print(l1)

[0, 0, 0]
[0, 0, 0]
[0, 0, 0]

In [ ]:
# Method 2:

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [3]:
l = [1,2,[3,4,'hello']]
l1 = l[2]
l1[l1.index('hello')] = 'goodbye'
print(l)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [15]:
list4 = [5,3,4,6,1]

list4.sort()
print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [16]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [17]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [18]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1]

['hello']

In [2]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}# print it all
print(d)
# get the set at 'k1'
my_set = d['k1']
print('my_set: ' + str(my_set))
# get the dictionary at index 2 of the set
my_dict = my_set[2]
print('my_dict: ' + str(my_dict))
my_set1 = my_dict['k2']
print ('my_set1: ' + str(my_set1))
my_dict2 = my_set1[1]
print ('my_dict2: ' + str(my_dict2))
my_set2 = my_dict2['tough']
print ('my_set2: ' + str(my_set2))
my_set3 = my_set2[2]
print('my_set3: ' + str(my_set3))
indx = my_set3.index('hello')
print('indx = ' + str(indx))
print(my_set3[indx])

print (d['k1'][2]['k2'][1]['tough'][2][0])

{'k1': [1, 2, {'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}]}
my_set: [1, 2, {'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}]
my_dict: {'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}
my_set1: ['this is tricky', {'tough': [1, 2, ['hello']]}]
my_dict2: {'tough': [1, 2, ['hello']]}
my_set2: [1, 2, ['hello']]
my_set3: ['hello']
indx = 0
hello
hello

Can you sort a dictionary? Why or why not?<br><br>
you cant sort a dictionary because it is keys and values

## Tuples

What is the major difference between tuples and lists?<br><br>



```
# This is formatted as code
```

How do you create a tuple?<br><br>

## Sets

What is unique about a set?<br><br>

Use a set to find the unique values of the list below:

In [19]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
x = set(list5)
print(x)

{1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [20]:
# Answer before running cell
2 > 3

False

In [21]:
# Answer before running cell
3 <= 2

False

In [22]:
# Answer before running cell
3 == 2.0

False

In [23]:
# Answer before running cell
3.0 == 3

True

In [24]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [25]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!